.h1 {
	margin-top: 40px;
	margin-bottom: 8px;

	font-size: 34px;
	font-weight: bold;
	line-height: 44px;

    color: #2C2738;
}

.h2 {
	margin-top: 0;
	margin-bottom: 0;

	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.h3 {
	margin: 0;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}
