.warningText, .warningSelect {
    position: absolute;
    top: 88px;
    left: 0;

    color: red;

    font-weight: bold;
}

.warningCheckbox {
    position: absolute;
    top:28px;
    left: 0;

    color: red;

    font-weight: bold;
}